.login_container {
    /* position: relative; */
    height: 100vh;
    max-height: 100vh;
}

.image_container {
    /* padding: 10vw; */
    height: auto;
    overflow: hidden;
}

.login_image_container {
    /* padding: 9%; */
    position: relative;
    background-size: cover;
    width: 65%;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .login_card {
    position: absolute;
    top: 10vh;
    right: 12vw;
    background: #ffffff;
    height: 70vh;
    max-height: 90vh;
    width: 45.9vw;
    padding-bottom: 10vh;
} */

.login_card {
    background: #ffffff;
    width: 34.9vw;
    margin-left: 67vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5vw 5vh;
    text-align: center;
}

.image {
    padding: 5.5%;
    position: relative;
    background-repeat: no-repeat;
    width: 57vw;
}

.empty {
    width: 50vw;
}

.logo_div {
    position: absolute;
    bottom: 85.5%;
    left: calc(125vw / 2);
}

.login_logo_div img {
    width: 120px;
    margin-top: -62px;
    margin-left: -1.8vw;
}

.text_form {
    /* padding: 20px 4vw 5vh; */
    /* margin-top: 40px; */
    width: 650px;
}

.welcome_text_div {
    text-align: center;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: normal;
    opacity: 0.9;
    padding: 0 7vw;
}

.welcome {
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #414B58;
}

.welcome_text {
    font-size: 16px;
    /* line-height: 30px; */
    text-align: center;
    color: #758396;
    white-space: pre-wrap;
}

.input_box {
    border: 1px solid #E1EDFE;
    box-sizing: border-box;
    border-radius: 5px;
    width: 34.72vw;
    height: 7.86vh;
    margin-top: 4vh;
}

.register_input_box {
    border: 1px solid #E1EDFE;
    box-sizing: border-box;
    border-radius: 5px;
    width: 34.72vw;
    height: 7.86vh;
    margin: 2.5vh 0;
}

.input_field {
    position: relative;
}

.input_label {
    position: absolute;
    bottom: 6.8vh;
    left: 7vw;
    background-color: #fff;
    padding: 0 0.5vw;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #b4b8c0;
}

.toggle_password {
    position: absolute;
    right: 15%;
    top: 57%;
    cursor: pointer;
}

.register_toggle_password {
    position: absolute;
    right: 15%;
    top: 52%;
    cursor: pointer;
}

.forgot_password {
    font-family: 'Graphik';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #0082FA;
    opacity: 0.9;
    cursor: pointer;
}

.btn_div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.btn {
    width: 22.4vw;
    height: 64px;
    background: #0082FA;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-family: 'Graphik';
    letter-spacing: 0.01em;
    color: #FFFFFF;
    opacity: 0.9;
    border: 0;
}

.question_text {
    font-family: 'Graphik';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #758396;
    opacity: 0.9;
}