.nav_container {
    /* width: 100vw; */
    max-width: 90vw;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    overflow: hidden;
    height: 9vh;
}

.nav_logo_div {
    width: 60px;
    height: 60px;
    background-color: rgb(233, 243, 250);
    /* height: 120px; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0b162b;
    font-size: 1.2em;
}

a {
    text-decoration: none;
}

.user_info_div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 10vw;
    cursor: pointer;
}

.cards_div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10vh 5vw 5vh;
    flex-flow: wrap;
    animation: cardHover 2s ease-in infinite;
}

.cards {
    background: #FFFFFF;
    border: 5px solid rgb(233, 243, 250);
    border-radius: 20px 0px 20px 20px;
    flex-basis: 28%;
    height: auto;
    min-height: 65vh;
    /* padding: 2vh 2vw; */
    box-shadow: inset rgb(233, 243, 250);
    margin-bottom: 2vh;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.cards:nth-child(2), .cards:nth-child(5){
    /* flex-grow: 2; */
    height: 75vh;
}

.cards:nth-child(4), .cards:nth-child(6) {
    margin-top: -20vh;
}

.card-header {
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 30vh;
    min-height: 30vh;
    max-height: 30vh;
}

.card_body {
    padding: 0 5%;
}

.title {
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 15px;
    color: #0b162b;
}

.login_amt {
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    padding-top: 20vh;
}

.logo-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.card_detail_container {
    padding: 10vh 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image_div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.details_body {
    margin-top: 7vh;
    padding: 0 10vw;
    text-align: center;
    color: rgb(233, 243, 250);
}

.detail_title {
    font-size: 3em;
}

.post_body {
    font-size: 1.5em;
}

@keyframes cardHover {
    0% {
        transform: translate(0, 0px);
    }
    25% {
        transform: translate(0, 10px);
    }
    50% {
        transform: translate(0, -10px);
    }
    75% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, 0);
    }
}