.nav_container {
    width: 100vw;
    max-width: 90vw;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    overflow: hidden;
    height: 9vh;
    position: fixed;
    z-index: 100;
}

.nav_logo_div {
    width: 60px;
    height: 60px;
    background-color: rgb(212, 214, 216);
    /* height: 120px; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0b162b;
    font-size: 1.2em;
}

a {
    text-decoration: none;
}

.user_info_div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-width: 10vw;
    width: auto;
    cursor: pointer;
}

.cards_div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10vh 5vw 5vh;
    flex-flow: wrap;
    background-color: #676d78;
}

.cards {
    background: #FFFFFF;
    border: 5px solid rgb(233, 243, 250);
    border-radius: 20px 0px 20px 20px;
    flex-basis: 28%;
    height: auto;
    min-height: 65vh;
    /* padding: 2vh 2vw; */
    box-shadow: inset rgb(233, 243, 250);
    margin-bottom: 2vh;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    /* animation: cardHover 2s ease-in infinite; */
    transition: 0.8s;
}

.cards:hover {
    flex-grow: 0.3;
    margin: 0 0.5vw;
}

.cards:nth-child(2), .cards:nth-child(5){
    /* flex-grow: 2; */
    height: 75vh;
}

.cards:nth-child(4), .cards:nth-child(6) {
    margin-top: -20vh;
}

.card-header {
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 30vh;
    min-height: 30vh;
    max-height: 30vh;
}

.card_body {
    padding: 0 5%;
}

.title {
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 15px;
    color: #0b162b;
}

.login_amt {
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    padding-top: 20vh;
}

.logo-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.card_detail_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image_div {
    padding: 10vh 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slide-in-from-top 0.7s backwards ease-in-out;
    /* background-image: url('../assets//images//discover.jpg');
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat; */
}

.details_body {
    padding: 10vh 10vw;
    margin-top: 7vh;
    padding: 0 10vw;
    text-align: center;
    color: rgb(233, 243, 250);
}

.detail_title {
    font-size: 3em;
}

.post_body {
    font-size: 1.5em;
    color: #fff;
}
.post_link {
    text-decoration: underline;
}
.cloud1 {
}
.cloud2 {
    position: absolute;
    left: 46%;
    top: 12vh;
}
.cloud_container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logout-ctn {
    width: 15vw;
    min-width: 8vw;
    max-width: 15vw;
    height: 10vh;
    background-color: #fff;
    position: fixed;
    top: 9vh;
    right: 5vw;
    border-radius: 3%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.logout-text {
    padding: 3.5vh 2vw;
    font-size: 18px;
    font-weight: 400;
}

.logout-text:hover {
    background-color: rgb(166, 163, 163, 0.2);
}

.jumbotron-ctn {
    background-image: url('../assets/images/codefun.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: (50%, 40%);
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    animation: slide-in-from-top 0.7s backwards ease-in-out;
}

.jumbotron-text {
    font-size: 4em;
    font-family: sans-serif;
}

@keyframes cardHover {
    0% {
        transform: translate(0, 0px);
    }
    25% {
        transform: translate(0, 10px);
    }
    50% {
        transform: translate(0, -10px);
    }
    75% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes slide-in-from-top {
    0% {
        transform: translate(0, -10vh);
    }
    25% {
        transform: translate(0, 5vh);
    }
    50% {
        transform: translate(0, -2vh);
    }
    75% {
        transform: translate(0, 1vh);
    }
    100% {
        transform: translate(0, 0);
    }
}